{
    "campus": "campus1",
    "building": "building1",
    "unit": "HP4",
    "agentid": "scc_cycling",
    "FanStatus": "FanStatus",
    "CompressorStatus": "CompressorStatus",
    "ZoneTemperature": "ZoneTemperature",
    "ZoneTemperatureSetPoint": "ZoneTemperatureSetPoint",
    "analysis-run-interval":500,
    "minimum_data_count": 5
 }
